<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {{#if username}}
        <a class="navbar-brand" href="/index">CUSTER IO</a>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        {{else}}
        <a class="navbar-brand" href="/">CUSTER IO</a>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/if}}
        {{#if admin}}
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="/index/analytics">Analytics App</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>