<h1><span class="fa fa-lock"></span>Custer IO Authentication</h1>
{{#if nouser}}
{{>validationSummary}}
    <h3><a href="/login/facebook" class="btn btn-default">\<span class="fa fa-user"></span>_Facebook</a></h3>
{{/if}}